odoo_repos/
odoo-repos/
var/
parts/
lib/
include/
eggs/
develop-eggs/
downloads/
/data/
etc/
bin/
sandbox/
src/
.installed.cfg
.idea
upgrade.py
*.log
*.pyc
atlassian-ide-plugin.xml
*~
devel_*
devel-*
.mr.developer.cfg
